.card {
  display: flex;
  width: 350px;
  flex-direction: column;
  text-align: center;
  border: 2px solid red;
  padding: 10px;
}

@media (max-width: 1100px) {
  .card  {
    width: 300px;
  }
}

@media (max-width: 620px) {
  .card  {
    width: 200px;
  }
}


.name {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.discription {
  text-transform: uppercase;
  color: rgb(27, 90, 27);
  font-size: 30px;
  font-weight: 700;
  padding-bottom: 20px;
}
